body {
    margin: 0;
    height: 100vh;
    font-family: 'Segoe UI', Arial, sans-serif;
    color: #222;
}
.main-layout {
    display: flex;
    height: 100vh;
}

.body-content {
    flex: 1;
    background-color: #1f1f1f;
}

/*
    Sidebar
*/

.sidebar {
    position: absolute;
    left: 0.6em;
    top: 50%;
    transform: translateY(-50%);

    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0.1em;
}

.sidebar .logo{
    padding: 0.4em;
}
.sidebar .logo img{
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
}

.sidebar .menu-options .item{
    width: 100%;
    height: 40px;
    padding: 0.4em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.sidebar .menu-options .item:hover{
    background-color: rgba(255, 255, 255, 0.8);
}

.sidebar .menu-options .item.active{
    background-color: rgba(255, 255, 255, 0.8);
}

.sidebar .menu-options .item img{
    width: 24px;
    height: 24px;
}

/*
    Viewport
*/

.body-content .viewport {
    width: 100%;
    height: 100%;
    display: none;
}

/*
    Instances
*/

#instancesTab {
    height: calc(100% - 2em);
    width: 360px;
    padding: 1rem;
    margin: 0;
    position: fixed;
    top: 1em;
    left: 70px;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 0.2em;
}

.kvm-instance {
    width: 100%;
    margin-bottom: 0.5em;
    overflow: hidden;
    border-radius: 0.5em;
    position: relative;
}

.kvm-instance .screenshot {
    position: relative;
    width: 100%;
    overflow: hidden;
    aspect-ratio: 1 / 1; /* Makes the container square */
}

.kvm-instance .screenshot img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover; /* Ensures the center part of the image is shown */
    background-color: #1f1f1f; /* Fallback background color */
}

.kvm-instance .instance-overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: rgba(255,255,255, 0.7);
    color: #fff;
    padding: 0.6em;
    backdrop-filter: blur(2px);
}

.kvm-instance .instance-overlay .ui.header{
    margin-top: 0.4em;
}

.kvm-instance .instance-actions{
    position: absolute;
    bottom: 0.5em;
    left: 0.5em;
}

/*
    Session View
*/

#session[contentfor="session"] {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
#sessionContext {
    border: none;
    width: 100%;
    height: 100%;
    display: block;
}

/* 
    Terminal View
*/

#terminalContext{
    border: none;
    width: 100%;
    height: 100%;
    display: block;
}

/*
    Terminals List
*/

#terminalsTab {
    height: calc(100% - 2em);
    width: 360px;
    padding: 1rem;
    margin: 0;
    position: fixed;
    top: 1em;
    left: 70px;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 0.2em;
    overflow-x: hidden;
}

.terminal-entry {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    margin-bottom: 0.5em;
    background-color: rgba(50, 50, 50, 1);
    border-radius: 0.3em;
    cursor: pointer;
    transition: background-color 0.2s ease;
    color: #e0e0e0;
}

.terminal-entry:hover {
    background-color: rgba(70, 70, 70, 1);
}

.terminal-entry .terminal-info {
    flex: 1;
}

.terminal-entry .terminal-details {
    margin-top: 0.5em;
    font-size: 0.9em;
    color: #f1f1f1;
}

.terminal-entry .terminal-actions {
	position: absolute;
	top: 0.4em;
	right: 0.2em;
}
.terminal-iframe {
    border: none;
    width: 100%;
    height: 100%;
    display: block;
}