#menu {
    height: auto; /* allow dynamic height */
    overflow: visible;
    position: fixed;
    top: 0.4em;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1001;
    background-color: #fafafa;
    border-radius: 8px;
    padding-top: 0.4em;
    padding-left: 0.6em;
    padding-right: 0.4em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#advance-menu, #basic-menu {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 4px;
    transition: max-height 0.3s ease, opacity 0.3s ease;
}

#advance-menu {
    flex-direction: row;
    max-height: 42px;
    opacity: 1;
    overflow: hidden;
}

#advance-menu.hide {
    max-height: 0;
    opacity: 0;
    margin-bottom: 0;
    pointer-events: none;
}

#basic-menu button{
    border: 0 !important;
    box-shadow: none !important;
    background-color: transparent;
}

#basic-menu button:hover{
    background-color: transparent;
    opacity: 0.7;
}


#basic-menu button:focus {
    background-color: transparent;
    outline: none;
}


#streamWrapper{
    margin: 0;
    padding: 0;
    height: calc(100vh);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
    background-color: black;
}

#remoteCapture {
    max-width: 100vw;
    max-height: 100vh;
    width: auto;
    height: auto;
    display: block;
    margin: auto;
    object-fit: contain;
    cursor: url('img/cursor_overlay.png') 0 0, pointer;
}


#audioTips{
    position: fixed;
    bottom: 2em;
    right: 2em;
    z-index: 1000;
}